# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-results/
/allure-report/

# Load Tests
/load-tests/summary.json

# Dependencies
node_modules/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
/dist/